* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    font-family: 'Paytone One', sans-serif;
    font-size: 28px;
    color: white;
}

.nav-links a {
    margin-left: 30px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 500;
}
.nav-links a:hover{
    color: #FF8829;
}

.mail-btn {
    font-family: 'Paytone One', sans-serif;
    background-color: #FF8829;
    color: black;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
}
.mail-btn:hover{
    background-color: white;
}

.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #FF8829;
    padding: 10px;
}

.hero h1 {
    font-family: 'Paytone One', sans-serif;
    font-size: 36px;
    margin-top: 20px;
}

.subtitle {
    font-size: 16px;
    color: #bbbbbb;
    margin-top: 8px;
    margin-bottom: 20px;
}

.contact-btn {
    text-decoration: none;
    font-weight: bold;
    background-color: #FF8829;
    padding: 12px 25px;
    border-radius: 10px;
    color: black;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(255, 136, 41, 0.2);
    position: relative;
    overflow: hidden;
}

/* Hover effect */
.contact-btn:hover {
    background-color: #ffa347;
    color: black;
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(255, 136, 41, 0.4);
}


.contacts {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 40px auto;
    flex-wrap: wrap;
    max-width: 900px;
}


.contact-item {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 15px;
    background-color: #2e2e2e;
    padding: 10px 20px;
    border-radius: 12px;
}

.contact-item img {
    width: 32px;
    height: 32px;
}

.contact-item p {
    font-weight: bold;
}

.contact-item span {
    color: #FF8829;
    font-weight: 500;
}
.size-icon{
    font-size: 30px;
}